/*CSS for Alert Messages Index*/

@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

body {
	margin: 0;
	padding: 0;
	background: #313131;
	font-family: sans-serif;
}

.center-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center-box div {
	width: 600px;
	height: 60px;
	background: #3498db;
	overflow: hidden;
	margin: 8px 0;
	color: #313131;
}

.center-box span {
	float: left;
	width: 40px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
}

.center-box p {
	float: left;
	margin: 0;
	padding: 0 60px;
	font-size: 16px;
	font-weight: 700;
	line-height: 60px;

}